attrs
Babel
bcc
blinker
Brlapi
certifi
chardet
click
cloud-init
colorama
command-not-found
configobj
cryptography
cupshelpers
dbus-python
defer
distro
distro-info
httplib2==0.20.4
idna
Jinja2
jsonpatch
jsonpointer
jsonschema
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
louis
markdown-it-py
MarkupSafe
mdurl
netaddr
oauthlib
olefile
pexpect
pillow
ptyprocess
pycairo
pycups
Pygments
PyGObject
PyJWT
pyparsing
pyrsistent
pyserial
python-apt
python-dateutil
python-debian
pytz
pyxdg
PyYAML
requests
rich
screen-resolution-extra
setuptools
six
systemd-python
typing_extensions
ubuntu-drivers-common
ubuntu-pro-client
ufw
unattended-upgrades
urllib3
wadllib
wheel
xdg
xkit
